#links_from_alex {
    clear: both;
    padding-top: 10px;

}
#links_from_alex a {
    margin: 5px;
    padding: 0 15px;
    text-align: center;
    height: 175px;
    border: 1px solid #ccc;
    display: inline-block;

}

#links_from_alex a img {
    height: 75%;
}